@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}
.btny {
  width: 280px;
  padding: 14px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: linear-gradient(120deg, #36a7a7, #36a7a7);
}

.imagebgwall {
  background-image: url("../src/assets/png/wall.png");
}

.imagebgplum {
  background-image: url("../src/assets/png/plumb.png");
}

.imagebgdemoo {
  background-image: url("../src/assets/png/deep.png");
}

.bgimagebanner {
  background-image: url("../src/assets/png/hidebg.png");
}

.imagebgabout {
  background-image: url("../src/assets/png/aboutimg.png");
}
.imagebgdemo {
  background-image: url("../src/assets/png/demo.png");
}

.imagebg {
  background-image: url("../src/assets/png/wall1.png");
}
.imagebgg {
  background-image: url("../src/assets/png/wall2.png");
}
.bg-opacity-set {
  background-color: rgba(243, 238, 238, 0.726);
}

.backimg {
  background-image: url("../src/assets/png/back1.png");
}
.backimg1 {
  background-image: url("../src/assets/png/back2.png");
}
.imagebgAboutt {
  background-image: url("../src/assets/png/pic.png");
}
.imagebgcontact {
  background-image: url("../src/assets/png/contimg.png");
}
.slideImg {
  background-image: url("../src/assets/png/slide1.png");
}
.slideImgg {
  background-image: url("../src/assets/png/slide2.png");
}
.slideImggg {
  background-image: url("../src/assets/png/slide3.png");
}
.class-hiden {
  /* display: ; */
}
.class-two:hover .class-hiden {
  display: block;
  transition: 0.5s linear;
}
.class-two {
  padding-top: 120px;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.class-two:hover {
  /* display: flex; */
  padding-top: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
.class-two:hover .clas-opacity-text {
  opacity: 1;
  transition: 0.5s linear;
}
.clas-opacity-text {
  opacity: 0;
  transition: 0.5s linear;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
  cursor: pointer;
}

.custom-button {
  position: relative;
  font-weight: bold;
  color: #5dc4c4;
  background-color: white;
  /* border: 2px solid #36a7a7; */
  border-radius: 35px;
  padding: 1rem;
  overflow: hidden;
}

.custom-button::before,
.custom-button::after {
  content: "";
  margin-top: 3px;
  margin-bottom: 3px;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #5dc4c4;
}

.custom-button::before {
  top: 0;
  left: -100%;
  animation: lineAnimationLeft 1.5s ease infinite;
}

.custom-button::after {
  bottom: 0;
  right: -100%;
  animation: lineAnimationRight 1.5s ease infinite;
}

@keyframes lineAnimationLeft {
  0% {
    transform: scaleX(0);
    left: -100%;
  }
  50% {
    transform: scaleX(1);
    left: 0;
  }
  100% {
    transform: scaleX(0);
    left: 100%;
  }
}

@keyframes lineAnimationRight {
  0% {
    transform: scaleX(0);
    right: -100%;
  }
  50% {
    transform: scaleX(1);
    right: 0;
  }
  100% {
    transform: scaleX(0);
    right: 100%;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  max-width: 100%;
  max-height: 100%;
}

.modal-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@keyframes animateIcon {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animated-icon {
  animation: animateIcon 1s ease forwards infinite;
}

.class-set-message-input {
  width: 80%;
}

@media only screen and (max-width: 1300px) {
  .class-grid-manage {
    display: grid;
  }
}

@media only screen and (max-width: 700px) {
  .class-grid {
    display: grid;
  }
}

@media only screen and (max-width: 1024px) {
  .class-set-message-input {
    width: 90%;
  }
}
