@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  display: none;
}


.imagebg{
  background-image: url("../src/assets/png/wall1.png");
}
.imagebgg{
  background-image: url("../src/assets/png/wall2.png");
}
.bg-opacity-set{
  background-color: rgba(255, 255, 255, 0.692);
}



.backimg{
  background-image: url("../src/assets/png/back1.png");
}
.backimg1{
  background-image: url("../src/assets/png/back2.png");
}

.slideImg{
  background-image: url("../src/assets/png/slide1.png");
}
.slideImgg{
  background-image: url("../src/assets/png/slide2.png");
}
.slideImggg{
  background-image: url("../src/assets/png/slide3.png");
}